#welcome-section{
    border: 2px solid;
    margin: 20%;
    text-align: center;
    margin-top: 80%;
  }

  nav{
    border: 2px solid;
    overflow: hidden;/*this wraps the nav container around the buttons*/
    padding-left: 74%;
    /*can also float button to the right but their position gets mirrored*/
  }

  nav button{
    margin: 1px;
  }